
body {
  background-color: #208860; 
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f1eef0; 
  color: #111111; 
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
}

.input {
  padding: 13px 30px;
  outline: none;
  border: none;
  background-color: #3C3C3C; 
  color: #E0E0E0; 
}

.btn {
  padding: 13px 25px;
  background-color: #0c498f; 
  border: none;
  color: #FFFFFF; 
  font-weight: bold;
}

.maindiv {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 660px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 80%;
  }
}

@media (max-width: 410px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 90%;
  }
  .inp-btn {
    text-align: center;
  }
  .btn {
    margin-top: 10px;
    padding: 13px 90px;
  }
}
/* its updated for change  */